.card {
  background-color: $bg_card;
  border-radius: 5px;
  width: 20%;
  &.main {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-image: url(https://cv-jmg.s3.us-east-2.amazonaws.com/juan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 90%;
    width: 30%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  &.detail {
    background-color: $bg_card;
    font-size: 22px;
    height: 70%;
    z-index: 0;
    margin-left: -10px;
    padding: 30px;
    width: 40%;
    -webkit-animation: linear alternate;
    -webkit-animation-name: open;
    -webkit-animation-duration: 0.5s;
  }
  &.menu {
    display: flex;
    flex-direction: column;
    font-size: $font_menu_icons;
    justify-content: center;
    align-items: center;
    background-color: $bg_card;
    height: 70%;
    width: 74px;
    z-index: 0;
    margin-right: -10px;
    padding: 10px;
  }
}
